<table class="table table-striped">
  <thead>
    <tr>
      <th>Fighter to win</th>
      <th>In round</th>
      <th>By</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody> 
  <% @prediction.each do |prediction| %>
    <tr>
      <td><%= prediction.fighter_id %></td>
        <td><%= prediction.round_id %></td>
        <td><%= prediction.how_id %></td>
		<td><%=  %></td>
     </tr>
     <tr>
      <td><%= prediction.fighter_id1 %></td>
        <td><%= prediction.round_id1 %></td>
        <td><%= prediction.how_id1 %></td>
		<td><%=  %></td>
     </tr>
	 <tr>
      <td><%= prediction.fighter_id2%></td>
        <td><%= prediction.round_id2 %></td>
        <td><%= prediction.how_id2 %></td>
		<td><%=  %></td>
     </tr>
     <tr>
      <td><%= prediction.fighter_id3 %></td>
        <td><%= prediction.round_id3 %></td>
        <td><%= prediction.how_id3 %></td>
		<td><%=  %></td>
     </tr>
	 <tr>
      <td><%= prediction.fighter_id4 %></td>
        <td><%= prediction.round_id4 %></td>
        <td><%= prediction.how_id4 %></td>
		<td><%=  %></td>
     </tr>
     <tr>
      <td><%= prediction.fighter_id5 %></td>
        <td><%= prediction.round_id5 %></td>
        <td><%= prediction.how_id5 %></td>
		<td><%=  %></td>
     </tr>
	 <tr>
      <td><%= prediction.fighter_id6 %></td>
        <td><%= prediction.round_id6 %></td>
        <td><%= prediction.how_id6 %></td>
		<td><%=  %></td>
     </tr>
     <tr>
      <td><%= prediction.fighter_id7 %></td>
        <td><%= prediction.round_id7 %></td>
        <td><%= prediction.how_id7 %></td>
		<td><%=  %></td>
     </tr>
	 <tr>
      <td><%= prediction.fighter_id8 %></td>
        <td><%= prediction.round_id8 %></td>
        <td><%= prediction.how_id8 %></td>
		<td><%=  %></td>
     </tr>
	 <tr>
      <td><%= prediction.fighter_id9 %></td>
        <td><%= prediction.round_id9 %></td>
        <td><%= prediction.how_id9 %></td>
		<td><%=  %></td>
     </tr>
   <% end %>
</tbody>
</table>