<p id="notice"><%= notice %></p>

<p>
  <b>Ufc:</b>
  <%= @pick.ufc %>
</p>

<p>
  <b>User:</b>
  <%= @pick.user_id %>
</p>

<p>
  <b>Fighter:</b>
  <%= @pick.fighter_id %>
</p>

<p>
  <b>Round:</b>
  <%= @pick.round_id %>
</p>

<p>
  <b>:</b>
  <%= @pick. %>
</p>

<p>
  <b>Fighter id1:</b>
  <%= @pick.fighter_id1 %>
</p>

<p>
  <b>Round id1:</b>
  <%= @pick.round_id1 %>
</p>

<p>
  <b>How id1:</b>
  <%= @pick.how_id1 %>
</p>

<p>
  <b>Fighter id2:</b>
  <%= @pick.fighter_id2 %>
</p>

<p>
  <b>Round id2:</b>
  <%= @pick.round_id2 %>
</p>

<p>
  <b>How id2:</b>
  <%= @pick.how_id2 %>
</p>

<p>
  <b>Fighter id3:</b>
  <%= @pick.fighter_id3 %>
</p>

<p>
  <b>Round id3:</b>
  <%= @pick.round_id3 %>
</p>

<p>
  <b>How id3:</b>
  <%= @pick.how_id3 %>
</p>

<p>
  <b>Fighter id4:</b>
  <%= @pick.fighter_id4 %>
</p>

<p>
  <b>Round id4:</b>
  <%= @pick.round_id4 %>
</p>

<p>
  <b>How id4:</b>
  <%= @pick.how_id4 %>
</p>

<p>
  <b>Fighter id5:</b>
  <%= @pick.fighter_id5 %>
</p>

<p>
  <b>Round id5:</b>
  <%= @pick.round_id5 %>
</p>

<p>
  <b>How id5:</b>
  <%= @pick.how_id5 %>
</p>

<p>
  <b>Fighter id6:</b>
  <%= @pick.fighter_id6 %>
</p>

<p>
  <b>Round id6:</b>
  <%= @pick.round_id6 %>
</p>

<p>
  <b>How id6:</b>
  <%= @pick.how_id6 %>
</p>

<p>
  <b>Fighter id7:</b>
  <%= @pick.fighter_id7 %>
</p>

<p>
  <b>Round id7:</b>
  <%= @pick.round_id7 %>
</p>

<p>
  <b>How id7:</b>
  <%= @pick.how_id7 %>
</p>

<p>
  <b>Fighter id8:</b>
  <%= @pick.fighter_id8 %>
</p>

<p>
  <b>Round id8:</b>
  <%= @pick.round_id8 %>
</p>

<p>
  <b>How id8:</b>
  <%= @pick.how_id8 %>
</p>

<p>
  <b>Fighter id9:</b>
  <%= @pick.fighter_id9 %>
</p>

<p>
  <b>Round id9:</b>
  <%= @pick.round_id9 %>
</p>

<p>
  <b>How id9:</b>
  <%= @pick.how_id9 %>
</p>

<p>
  <b>Fighter id10:</b>
  <%= @pick.fighter_id10 %>
</p>

<p>
  <b>Round id10:</b>
  <%= @pick.round_id10 %>
</p>

<p>
  <b>How id10:</b>
  <%= @pick.how_id10 %>
</p>

<p>
  <b>Fighter id11:</b>
  <%= @pick.fighter_id11 %>
</p>

<p>
  <b>Round id11:</b>
  <%= @pick.round_id11 %>
</p>

<p>
  <b>How id11:</b>
  <%= @pick.how_id11 %>
</p>

<p>
  <b>Fighter id12:</b>
  <%= @pick.fighter_id12 %>
</p>

<p>
  <b>Round id12:</b>
  <%= @pick.round_id12 %>
</p>

<p>
  <b>How id12:</b>
  <%= @pick.how_id12 %>
</p>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
